<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ratemyvendorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signUp" />
        <activity android:name=".findVendor" />
        <activity android:name=".submitReview" />
        <activity android:name=".viewVendor" />
        <activity android:name=".myReviews" />
        <activity android:name=".originalCakeReview" />
        <activity android:name=".mainMenu" />
        <activity android:name=".mainMenuAdmin" />
        <activity android:name=".reportedReviews" />
        <activity android:name=".vendorList" />
        <activity android:name=".eliteDecorReview" />
        <activity android:name=".chocolateBakeryReview" />
        <activity android:name=".rockinDjReview" />
        <activity android:name=".AdminLoginPage"></activity>
    </application>

</manifest>